<input type="text" id="manageUsersSearchInput" placeholder="Pull up by username or ID"/>
<button id="manageUsersSearchSubmit" onclick="manageUsersSearchSubmit()">Submit</button>

<div id="manageUsers" class="hidden">
<h5 id="manageUsersId">#-1</h5>

<h5>Username</h5>
<input type="text" id="manageUsersUsername" placeholder="Username"/>
<button id="manageUsersUsernameSubmit" onclick="manageUsersUsernameSubmit()">Submit</button>

<h5>Email</h5>
<input type="text" id="manageUsersEmail" placeholder="Email"/>
<button id="manageUsersEmailSubmit" onclick="manageUsersEmailSubmit()">Submit</button>

<h5>Date of Birth</h5>
<input type="date" id="manageUsersDob" disabled/>

<h5>Created</h5>
<input type="datetime-local" id="manageUsersCreated" disabled/></br>

<input type="checkbox" id="manageUsersEmailVerified"/>
<label for="manageUsersEmailVerified">Email Verified</label>
<button id="manageUsersEmailVerifiedSubmit" onclick="manageUsersEmailVerifiedSubmit()">Submit</button></br>

<input type="checkbox" id="manageUsersVerified"/>
<label for="manageUsersVerified">Verified</label>
<button id="manageUsersVerifiedSubmit" onclick="manageUsersVerifiedSubmit()">Submit</button></br>

<input type="checkbox" id="manageUsersSuspended"/>
<label for="manageUsersSuspended">Suspended</label>
<button id="manageUsersSuspendedSubmit" onclick="manageUsersSuspendedSubmit()">Submit</button></br>

<h3>Posts</h3>
<div id="manageUsersPosts">

</div>
<button id="manageUsersLoadPosts" onclick="manageUsersLoadPosts()">Load More</button>
</div>