<input type="text" id="manageUsersSearchInput" placeholder="Pull up by ID"/>

<div id="managePost" class="hidden">
<h5>#-1</h5>

<h5>Content</h5>
<input type="textarea" id="managePostContent" placeholder="Content"/>

<h5>Created</h5>
<input type="datetime-local" id="managePostCreated"/></br>

<input type="checkbox" id="managePostDeleted"/>
<label for="managePostDeleted">Deleted</label></br>

<h3>Restrictions</h3>
<div id="managePostRestrictions">

</div>
</div>