<h1>Change Username</h1>
<input oninput="settingNewUsernameInput()" placeholder="New Username" id="settingsNewUsernameField"/>
<h5 id="settingsNewUsernameStatus"></h5>
<button class="button" id="settingsNewUsernameSubmit" onclick="settingsNewUsernameSubmit()" disabled>Submit</button>