<h1>Change Username</h1>
<p>Your username is how others identify you on Feed. Everyone has a unique username, including you</p>
<p>Usernames should be at least 3 characters and less than 32 characters. No special characters or spaces</p>
<input oninput="settingNewUsernameInput()" placeholder="New Username" id="settingsNewUsernameField"/>
<h5 id="settingsNewUsernameStatus"></h5>
<button class="button" id="settingsNewUsernameSubmit" onclick="settingsNewUsernameSubmit()" disabled>Submit</button>