<h1>Change Password</h1>
<input placeholder="Current Password" type="password" id="settingsCurrentPasswordField"/><br></br>
<input oninput="settingNewPasswordInput()" type="password" placeholder="New Password" id="settingsNewPasswordField"/><br>
<input oninput="settingNewPasswordInput()" type="password" placeholder="Verify New Password" id="settingsNewPasswordVerifyField"/><br>
<h5 id="settingsNewPasswordStatus" style="color: red"></h5>
<button class="button" id="settingsNewPasswordSubmit" onclick="settingsNewPasswordSubmit()" disabled>Submit</button>