<link rel="stylesheet" href="/styles/admin.css"/>

<h1>Admin</h1>

<div id="adminMaster">
    <div id="adminControls">

    </div>
    <div id="adminPage">

    </div>
</div>

<div id="admindisclaimer">
<p>We remind all admins to handle user data with the utmost care and caution. Any misuse, mishandling or sharing of confidential user information without proper authorization may lead to severe consequences for both the user and the admin. We urge all admins to adhere to our privacy policy and guidelines at all times.</p>

<p>By accessing this admin page, you acknowledge that you have read and understood this disclaimer, and agree to abide by our privacy policy and guidelines. We reserve the right to modify these terms and conditions at any time, and it is the responsibility of all admins to stay up-to-date with any changes.</p>
    
<p>Thank you for your cooperation and continued support in maintaining the privacy and security of our users' information.</p>
</div>

<script src="/scripts/admin.js"></script>