<div id="compose">
    <textarea id="composeContents" oninput="composeInput()" placeholder="What's on your mind?"></textarea><br>
    <p id="composeChars">0 / 256</p>
    <button class="button" id="composeSend" onclick="composeCreate()" disabled>Post</button>
</div>