<link rel="stylesheet" href="/styles/helphome.css"/>

<div id="welcome">
    <h1>Welcome to Help</h1>
    <p>Take a look around. If you can't find what you're looking for, you can always contact support directly</p>
    <button onclick="window.open('mailto:support@youcc.xyz', '_blank')" class="button" id="contactsupport">Contact Support</button>
</div>

<%-include('helpfeatured.ejs')%>