<link rel="stylesheet" href="/styles/resetpassword.css" />

<h1>Account Recovery</h1>
<div id="recoveryMain">
    <p>If you verified your account's email address, you can send an email from this page to reset your password
        instantly</p>

    <input type="type" id="usernameOrEmail" placeholder="Username or Email" /></br>
    <button class="button" id="resetPasswordSubmit" disabled>Submit</button>
</div>

<div id="recoverySubmitted" class="hidden">
    <h3>All Done!</h3>
    <p>If an account with that username or email exists, and its email is verified, an email should have been sent.</p>
    <p>Can't find the email? Check your spam box or wait a few minutes. If you're still having trouble, contact support
    </p>
</div>

<div id="recoveryFinal" class="hidden">
    <h3>New Password</h3>
    <input placeholder="New Password" id="resetPasswordNew" type="password"/><br>
    <input placeholder="Verify Password" id="resetPasswordNewVerify" type="password"/><br>
    <h5>Passwords should match and be 8-128 characters</h5>
    <button class="button" id="resetPasswordSubmitNew" disabled>Submit</button>
</div>

<div id="recoveryComplete" class="hidden">
    <h3>Password Reset</h3>
    <p>Your password was reset successfully!</p>
    <button class="button" id="blowThisPopsicleStand">Back to Login</button>
</div>

<script src="/scripts/resetpassword.js"></script>