<!DOCTYPE html>
<html>
    <body>
        <h1>Reset Password</h1>
        <p>A request was made to reset the password for your account on Feed. If you did not make this request, you can safely delete this email. </p>
        </br>
        <p>Otherwise, if you wish to reset your password, please follow the link: %%REPLACEME%%</p>
        <p>This link will expire in 10 minutes</p>
        <p>Having trouble? Contact support at %%SUPPORTEMAIL%%</p>
        </br>
        <p>Sincerely,</p>
        <p>The Feed Team</p>
    </body>
</html>