<link rel="stylesheet" href="/styles/settings.css"/>
<head>
<title>Feed - Settings</title>
</head>
<h1>Settings</h1>
<div id="settingsMaster">
    <div id="settingsContainer">

    </div>
    <div id="settingsPage">

    </div>
</div>

<script src="/scripts/settings.js"></script>