<link rel="stylesheet" href="/styles/user.css" />
<title>Feed - Profile</title>

<div id="userContent">
    <div id="profileHeaderContainer">
        <h1 id="profileHeader">Loading...</h1>
        <img src="/assets/verified.png" class="hidden" id="verifiedTick"
            title="This user's identity has been verified" />
    </div>
    <div id="userInfo">
        <label id="userInfoJoined"></label>
    </div>
</div>


<script src="/scripts/user.js"></script>