<p>At Feed, we believe that the intellectual property rights of individuals and corporations matter. Because of this, we have sections in our Community Guidelines and Terms of Service specifically prohibiting the act of infringing on anyone's copyright or trademark.</p>

<p>If you represent a company, individual, or any other entity and believe their intellectual property rights have been violated on Feed then we highly encourage you to file a claim.</p>

<p>If you plan to file a claim, we will need the following information in your claim:</p>
<ol>
    <li>The name and contact information of yourself (the representative) and the entity you are representing (or just yourself, if you are the entity)</li>
    <li>The specific works on Feed that you are reporting</li>
    <li>A description of how the work is infringing on your rights or the rights of the entity you are representing</li>
    <li>Proof of your identity and proof that you are authorized to make the claim</li>
    <li><span>A statement that the information provided is true and accurate </span><b>under threat of perjury</b></li>
    <li>A physical or electronic signature</li>
</ol>

<button class="button" onclick="window.open('mailto:copyright@youcc.xyz', '_blank')">Make a Claim</button>
<h2>Notices</h2>
<p>Please contact copyright@youcc.xyz rather than our support team at support@youcc.xyz so that your claim can be handled as quickly and accurately as possible.</p>
<p>It may take up to several business days for each claim to be processed.</p>
<p>If you are not the entity or a representative of the entity that you believe the intellectual property rights of are being violated, but you still want to file a claim, please create a normal report through the user report or post report functions on the Feed app instead (select the 'Other' option so that you don't get redirected back to this page).</p>
<p>The intellectual property rights of the entity you are representing will only be enforced in the countries where those rights are legally recognized.</p>