<p>At Feed, we strive to create a welcoming and respectful environment for all users. Our platform is built on the principles of respect, kindness, and inclusivity, and we expect all users to adhere to these Community Guidelines. By using our platform, you agree to comply with these guidelines.</p>
<br>

<h2>Violent Speech</h2>
<p>We do not tolerate violent speech or threats of violence. Any content that promotes violence or incites others to commit violence is strictly prohibited.</p>
<br>

<h2>Violent and Hateful Entities</h2>
<p>We do not allow the promotion or support of violent or hateful entities or groups, including but not limited to terrorist organizations, white supremacist groups, and hate groups.</p>
<h3>Perpetrators of Violent Attacks</h3>
<p>We do not allow content that glorifies or supports perpetrators of violent attacks or mass shootings.</p>
<br>

<h2>Child Safety</h2>
<p>We have zero tolerance for child sexual exploitation. Any content real or fake that depicts or promotes child sexual exploitation is strictly prohibited, and will be reported to the appropriate authorities.</p>
<br>

<h2>Abuse and Harassment</h2>
<p>We do not tolerate any form of abuse or harassment on our platform, including but not limited to hate speech, bullying, and stalking.</p>
<br>

<h2>Hateful Conduct</h2>
<p>We do not allow content that promotes or condones hate speech or discriminatory behavior based on race, ethnicity, national origin, religion, sexual orientation, gender identity, disability, or any other characteristic.</p>
<h3>Protections for transgender users</h3>
<p>We have specific protections for transgender users intended to make Feed a safe space for all. We prohibit the act of misgendering or deadnaming any person on the platform, especially when it is with the intent to dehumanize or offend.</p>
<br>

<h2>Suicide and Self-Harm</h2>
<p>We take suicide prevention seriously. Any content that promotes or glorifies suicide is strictly prohibited.</p>
<h3>Help is always available</h3>
<p>If you or someone you know is considering harming themselves or committing suicide, please find help at your location's Suicide Prevention Hotline (Call 988 in the United States)</p>
<br>

<h2>Sensitive Media</h2>
<p>NSFW, inappropriate content, and content depicting minor levels of violence is not prohibited on Feed, but there is a point where content is too sensitive or inappropriate.</p>
<h3>Gore and shock content</h3>
<p>Any form of gore, shock content, or content that otherwise depicts extreme levels of violence is not allowed.</p>
<h3>Unauthorized content</h3>
<p>Non-consensual or unauthorized content such as revenge porn or leaked nudes cannot be posted on Feed, even if it isn't with the intent to humiliate or harass.</p>
<br>

<h2>Illegal Conduct</h2>
<p>The promotion or performance of illegal conduct on Feed is not allowed. This includes (but is not limited to) selling or soliciting drugs and alcohol, promoting piracy or providing methods on how to perform piracy, or infringing on copyright and intellectual property rights.</p>
<br>

<h2>Private Information</h2>
<p>We do not allow the posting of private or confidential information, such as social security numbers, credit card numbers, or personal contact information, without the owner's consent.</p>
<br>

<h2>Hacking and Platform Safety</h2>
<p>We do not allow any attempts to compromise or hack other users' accounts or our platform. Sharing dangerous content such as malware or bad links is also not allowed.</p>
<h3>Reserving usernames</h3>
<p>Reserving username is not allowed, especially if you intend to sell or pawn off the account with the username, which is outlined better in the next sub-section.</p>
<h3>Platform manipulation</h3>
<p>Platform manipulation comes in many shapes and forms but Feed specifically prohibits the selling, purchasing, or solicitation of accounts, usernames, and interactions.</p>
<br>

<h2>Misinformation and Disinformation</h2>
<p>Sharing misinformation or disinformation can result in individual posts being restricted or your account being suspended. Doing so with the intention to deceive or trick others or in the attempt to interfere with or undermine a democratic process or election is not allowed.</p>
<br>

<h2>Copyright</h2>
<p>A requirement of using Feed is to respect the intellectual property rights of individuals and organizations, even if they do not use the platform.</p>
<h3>Need to file a claim?</h3>
<p>We got your back. If someone on Feed is violating your intellectual property rights, copyright support is specifically available at <a href="mailto:copyright@youcc.xyz">copyright@youcc.xyz</a>. Please note it may take up to multiple business days for claims to be reviewed and processed.</p>
<br>

<h2>Spam</h2>
<p>Spamming or spamming specific users is not allowed. Kinds of spam includes (but is not limited to): large text spam, mass post spam, unauthorized advertising, and botting/using automated accounts.</p>
<h3>Spamming Feed API</h3>
<p>Spamming Feed's API with redundant requests with the intention to waste resources, spam a specific person, slow our platform, or otherwise inconvenience Feed or the Feed community can result in extended levels of punishment such as IP bans and poison bans.</p>
<h3>Automation and bots</h3>
<p>Currently, using automated accounts or bots is not allowed. In the future we plan to create a solution for developers and power users to flourish on our platform, but in the meantime, please only use Feed accounts normally.</p>
<br>

<br>
<h3>Disclaimer</h3>
<p>We reserve the right to remove any content or suspend or terminate any user's account that violates these Community Guidelines or our Terms of Service. It is your responsibility to follow the Community Guidelines and Terms of Service and to report any people or content that does not.</p>