<p>Feed will suspend accounts on a routine basis for a variety of reasons, the most common one being violations against our Terms of Service and/or community guidelines.</p>
<p>If your account has been suspended, you likely have some questions. Below we'll try to answer as many of them as we can, and if you still have questions or concerns, direct support is always available.</p>
<ol>
    <li>What did I do?</li>
    <p>If your account has been suspended, you most likely made a violation against the Terms of Service or the Community Guidelines. If you're not sure what exactly what you did, support will have an answer for you.</p>

    <li>Can I make or use another account?</li>
    <p>No, you cannot make a new account or use an existing account to evade suspension. If this happens, that account will just be suspended as well.</p>
    
    <li>How long do suspensions last?</li>
    <p>Suspensions are permanent.</p>

    <li>How does the moderation process work?</li>
    <p>Moderators of Feed may block accounts they find violate the Terms of Service or Community Guidelines either upon direct observation when using the platform or when they have received a report. Accounts can also be automatically suspended when our systems detect certain actions.</p>

    <li>Can suspensions be removed?</li>
    <p>Suspensions may be removed upon certain conditions, the most common one being if we made a mistake on our part.</p>
</ol>

<p>If you want to appeal your suspension, <b>please do not contact the normal support email.</b> Contact <a href='mailto:appeals@youcc.xyz'>appeals@youcc.xyz</a> instead so that you receive support as quickly and efficiently as possible.</p>