:root {
    --app-width: 950px;
    --font: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
button,
label,
textarea {
    font-family: var(--font);
}

body {
    background-image: url('/assets/bodynoise.png'), linear-gradient(#FFF, #000);
    min-height: calc(100vh - 20px);
    margin: 0;
}

#app {
    width: var(--app-width);
    margin: 10px auto;
    min-height: calc(100vh - 20px);
}


#logo {
    width: 90px;
    transition: .2s;
    border-radius: 11px;
}

#logo:hover {
    cursor: pointer;
    box-shadow: #00000080 0 0 10px;
}

#logoContainer {
    display: inline-block;
}

#header {
    display: flex;
}

#profile {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#profile div {
    height: fit-content;
}

#notification {
    position: fixed;
    background: #d02525;
    color: white;
    width: 970px;
    left: 50%;
    translate: -50%;
    margin: 0;
    padding: 10px;
    text-align: center;
    box-shadow: black 0px 0px 2px;
    transition: .2s;
    bottom: -50px;
    z-index: 100;
    user-select: none;
}

#notification.visible {
    bottom: 10px;
}

#notification:hover {
    cursor: pointer;
}

.button {
    background: linear-gradient(#507CFF, #2252E1) !important;
    color: #FFF !important;
    border-radius: 3px !important;
    border: 1px solid #2252E1 !important;
    font-size: 0.9em;
    padding: .5em 1em;
}

.button:hover {
    cursor: pointer;
    filter: brightness(0.9)
}

.button[disabled] {
    background: linear-gradient(#AAB2CC, #91A5E1) !important;
    border-color: #91A5E1 !important;
    color: #E8E8E8 !important;
}

.button[disabled]:hover {
    cursor: default;
    filter: brightness(1)
}

#profileDetails * {
    margin-bottom: 5px !important;
}

#profileDetails a {
    display: inline-block;
    text-align: right;
    width: 100%;
    color: #3154DF;
}

#profileDetails a:hover {
    color: #4e6ade
}

#welcomeMsg {
    margin: 0;
    color: #494949;
}

#kittycat\:3 {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

#kittycat\:3.loading {
    width: 50px;
}

#newcat {
    color: blue;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

#newcat.disabled {
    color: grey;
    text-decoration: none;
}

#newcat:hover {
    cursor: pointer;
}

#newcat.disabled:hover {
    cursor: default;
}

#notfound {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#notfound h3 {
    margin-top: 0;
}

#myprofileLink {
    display: inline !important;
}


.feedPostUsername:hover {
    cursor: pointer;
    text-decoration: underline;
}

.feedPostUsername {
    font-weight: 700;
}

.feedContainer {
    min-width: 400px;
    max-height: 400px;
    overflow-y: auto;
  }

.feedPost {
    box-sizing: border-box;
    padding: 15px;
    background: linear-gradient(#FFF, #EEE);
    border-bottom: 1px solid #AAA;
}

.feedPostCreated {
    margin-left: 5px;
}

.feedPostContent {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 0;
    background: transparent;
    font-size: 1.2em;
    overflow: hidden;
    margin-top: 5px;
    outline: 0 !important
}

.feedPostInfo {
    display: flex;
    align-items: center;
}

.feedPostVerifiedTick {
    width: 16px;
    margin-left: 5px;
    height: 16px;
}


.postRestrictionFlairIcon {
    width: 16px;
    height: 16px;
    opacity: 0.75;
    margin-right: .25em;
  }
  .postRestrictionFlairContainer {
    display: flex;
  }
  .postRestrictionFlair {
    font-size: 0.9em;
    font-weight: bold;
  }
  .postRestrictionContainer {
    background: #D9D9D9;
    border-radius: 10px;
    border: 1px solid #AAA;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
  }
  .postRestrictionContent {
    width: 100%;
    box-sizing: border-box;
    max-width: 300px;
  }
  .postRestrictionContentContainer {
    flex: 1;
    flex-grow: 1;
  }