:root {
  --app-width: 950px;
  --font: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
b,
ul,
li,
ol,
button,
label,
textarea {
  font-family: var(--font);
}

body {
  /*! background-image: url('/assets/bodynoise.png'), linear-gradient(#FFF, #000); */
  min-height: calc(100vh - 20px);
  margin: 0;
  background: #EAEAEA;
  margin-bottom: 30px
}

#app {
  max-width: var(--app-width);
  margin: 0 auto;
  min-height: calc(100vh - 20px);
  padding: 0 10px;
}


#catostrophicerror {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: #0b0b0b;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#catostrophicerror * {
  color: #FEFEFE;
}

#catostrophicerror a {
  color:rgb(37, 77, 255) !important;
}

#logo {
  width: 90px;
  transition: .2s;
  border-radius: 11px;
}

#logo:hover {
  cursor: pointer;
  box-shadow: #00000080 0 0 10px;
}

#logoContainer {
  display: inline-block;
}

#header {
  display: flex;
  padding: 0 10px;
  align-items: center;
  margin-top: 10px;
}

#profile {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

#profile div {
  height: fit-content;
}

#notification {
  position: fixed;
  background: #d02525;
  color: white;
  width: 970px;
  left: 50%;
  translate: -50%;
  margin: 0;
  padding: 10px;
  text-align: center;
  box-shadow: black 0px 0px 2px;
  transition: .2s;
  bottom: -50px;
  z-index: 100;
  user-select: none;
}

#notification.visible {
  bottom: 10px;
}

#notification:hover {
  cursor: pointer;
}

.button {
  background: linear-gradient(#507CFF, #2252E1) !important;
  color: #FFF !important;
  border-radius: 3px !important;
  border: 1px solid #2252E1 !important;
  font-size: 0.9em;
  padding: .5em 1em;
}

.button.danger {
  background: linear-gradient(#FF5056, #E22228) !important;
  border: 1px solid #E22228 !important;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9)
}

.button[disabled] {
  opacity: 0.4;
}

.button[disabled]:hover {
  cursor: default;
  filter: brightness(1)
}

#profileDetails * {
  margin-bottom: 5px !important;
}

#profileDetails a {
  display: inline-block;
  text-align: right;
  width: 100%;
  color: #3154DF;
}

#profileDetails a:hover {
  color: #4e6ade
}

#welcomeMsg {
  margin: 0;
  color: #494949;
}

#kittycat\:3 {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

#kittycat\:3.loading {
  width: 50px;
}

#newcat {
  color: blue;
  text-decoration: underline;
  display: inline-block;
  margin-top: 10px;
}

#newcat.disabled {
  color: grey;
  text-decoration: none;
}

#newcat:hover {
  cursor: pointer;
}

#newcat.disabled:hover {
  cursor: default;
}

#notfound {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#notfound h3 {
  margin-top: 0;
}

#myprofileLink {
  display: inline !important;
}

.feedErrorInfo {
  text-align: center;
  font-weight: bold;
}

.feedPostUsername:hover {
  cursor: pointer;
  text-decoration: underline;
}

.feedPostUsername {
  font-weight: 700;
}

.feedContainer {
  max-width: 600px;
  overflow-y: auto;
  width: 100vw;
}

.feedPost {
  box-sizing: border-box;
  padding: 15px;
  background: #EAEAEA;
  border: 1px solid #AAA;
  max-width: 100%;
}

.feedPost:hover {
  cursor: pointer;
  background: #F0F0F0;
}

.feedPostCreated:hover, .postRestrictionContent:hover, .postRestrictionFlair:hover {
  cursor: text;
}

.feedPostContent *:hover {
  cursor: text;
}

.feedPostCreated {
  margin-left: 5px;
}

.feedPostContent {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  padding: 0;
  background: transparent;
  font-size: 1.2em;
  overflow: hidden;
  margin-top: 5px;
  outline: 0 !important
}

.feedPostInfo {
  display: flex;
  align-items: center;
}

.feedPostVerifiedTick {
  width: 16px;
  margin-left: 5px;
  height: 16px;
}


.postRestrictionFlairIcon {
  width: 16px;
  height: 16px;
  opacity: 0.75;
  margin-right: .25em;
}

.postRestrictionFlairContainer {
  display: flex;
}

.postRestrictionFlair {
  font-size: 0.9em;
  font-weight: bold;
}

.postRestrictionContainer {
  background: #D9D9D9;
  border-radius: 10px;
  border: 1px solid #AAA;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  max-width: 100%;
}

.postRestrictionContent {
  max-width: 100%;
  box-sizing: border-box;
}

.postRestrictionContentContainer {
  flex: 1;
  flex-grow: 1;
}

input {
  padding: .25em;
  outline: none !important;
  background: #f9f9f9;
  border: 1px solid #AAA;
  border-radius: 3px;
}

input:hover {
  cursor: pointer;
  background: #FFF;
}

input:focus {
  background: #FFF;
}

.feedPost:not(:first-child) {
  border-top: none;
}


.feedPostOptions {
  height: 22px;
  width: 20px;
  margin-left: auto;
  opacity: 0.5;
}

.feedPostOptions:hover {
  cursor: pointer;
  opacity: 0.75;
}


.contextMenuMaster {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
}

.contextMenuContainer {
  position: relative;
  background: #EEE;
  border: 1px solid #AAA;
  width: fit-content;
  min-width: 150px;
  border-radius: 5px;
  overflow: clip;
}

.contextMenuItem {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.contextMenuItemName {
  user-select: none;
  font-size: 0.9em;
  color: #353535;
}

.contextMenuItem:hover {
  cursor: pointer;
  background: #FEFEFE;
}


.contextMenuItemIcon {
  width: 22px;
  height: 22px;
  margin-right: 3px;
  opacity: 0.8;
}


#settingsContainer {
  min-width: 250px;
  height: inherit;
  border-right: 1px solid #AAA;
  padding: 10px;
  box-sizing: border-box;
}

.settingsElement {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #AAA;
  display: flex;
  align-items: center;
  transition: .1s;
}

#settingsMaster {
  border: 1px solid #AAA;
  min-height: 300px;
  display: flex;
}

.settingsElement:hover {
  cursor: pointer;
  background: #d9d9d9;
}

.settingsElement:first-child:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.settingsElement:last-child:hover {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#settingsPage {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

#settingsPage input {
  margin-bottom: 5px;
}

#settingsPage h1:first-child {
  margin-top: 0;
}

#settingsPage h1:not(:first-child) {
  margin-top: 50px;
}

#settingsPage .pageLoading {
  margin: auto;
  display: block;
  height: 100%;
  object-fit: none;
  width: inherit;
}

.settingsElement span {
  user-select: none;
}

.settingsElement img {
  height: 32px;
  width: 32px;
  margin-right: 6px;
}

#noLoginSettingsLink {
  margin-left: 10px;
  font-size: 0.8em
}

.settingsElement:last-child {
  border-bottom: none;
}

@keyframes deletingaccount {
  30% { filter:grayscale(1) }
  50% { filter:grayscale(1) }
  100% { filter:grayscale(1) blur(50px); }
}

.takecarefriend {
  animation-name: deletingaccount;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.takecarefriend #disabledOverlay {
  display: block !important;
}

#disabledOverlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
  z-index: 9999;
}

#newPost {
  margin-left: 10px;
}

#newPostContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


#composeContainer {
  position: fixed;
  width: 100vw;
  margin: -10px 0;
  height: 100vh;
  background: rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
#compose {
  background: #F9F9F9;
  padding: 15px;
  border: 1px solid #8A8A8A;
  border-radius: 5px;
  width: 400px;
  z-index: 501;
}
#composeContents {
  resize: none;
  width: 100%;
  min-height: 140px;
  box-sizing: border-box;
  padding: 10px;

}
#composeSend {
  margin-top: 10px;
}

#composeChars {
  margin: 3px 0;
  font-size: .8em;
  opacity: 0.75;
}

.maxReached {
  color: rgb(169, 0, 0)
}


#cookienotice {
  background: #EEE;
  border: 1px solid #BBB;
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
  max-width: 400px;
  height:fit-content
}


#cookienoticecontainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #00000075;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cookienotice h1 {
  margin-top: 0;
}


#accountSuspensionNotice {
  background: #ffb85e;
  border-radius: 3px;
  border: 1px solid #e68733;
}
#accountSuspensionNotice p {
  padding: 15px 0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}